<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
<!--    <Properties></Properties>-->

    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="${layout}" />
        </Console>
        <File name="JsonFile" fileName="logs/app-log.json">
            <JsonLayout
                    complete="true"
                    compact="false"
                    eventEol="true"
                    includeStacktrace="true"
                    properties="true"
                    locationInfo="true"
                    objectMessageAsJsonObject="true"/>
        </File>
    </Appenders>

    <Loggers>
        <Root level="info">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>